.dark .mat-mdc-select-panel,
.dark .mat-mdc-option {
  color: #cbd5e1 !important;
  background-color: #232a3a !important;
}
.dark .mat-mdc-option.mat-selected {
  background: #26304a !important;
  color: #60a5fa !important;
}
